#config_version=5
mode:
    start_events: ball_started
    stop_events: ball_ending 

    
multiball_locks:
    theshop:
        balls_to_lock: 1
        lock_devices: bd_scoop    
    
multiballs:
    quick_3_ball:
        ball_count: 3
        ball_count_type: total
        shoot_again: 5s
        enable_events: mode_base_starting
        start_events: multiball_quick3_start 
        stop_events: ball_ending
        reset_events: machine_reset_phase_3, ball_starting
    Shop_Multiball:
        ball_count: 2
        ball_locks: bd_scoop
        ball_count_type: total
        shoot_again: 5s
        enable_events: mode_base_starting
        start_events: multiball_lock_theshop_full
        stop_events: ball_ending
        reset_events: machine_reset_phase_3, ball_starting
                      
show_player:
  balldevice_bd_plunger_ball_eject_success:
    gi_light_01:
      speed: 1
      priority: 200
  s_launch_active:
    LaunchLightUp_01:
      speed: .5
      loops: 0
      priority: 100
  mode_base_started:
    gi_orange_01:
      speed: 1
  ball_save_intro_enabled:
    flash_red_save:
        speed: 1
  ball_save_intro_disabled:
    flash_red_save_off:
        speed: 1
        priority: 300
        
    
slide_player:
    mode_base_started:
      main_scoring_slide:
        - type: text
          font_name: hachicro
          text: (score)
          number_grouping: true
          min_digits: 2
          font_size: 50
        - type: text
          text: PLAYER (number)
          font_size: 25
          x: 0
          y: 0
          anchor_x: left
          anchor_y: bottom
        - type: text
          text: BALL (ball)
          x: right
          y: bottom
          anchor_x: right
          anchor_y: bottom
          font_size: 25



          
counters:
    superspinner_activate:
        count_events: shot_l_spinner_hit, shot_r_spinner_hit
        starting_count: 0
        count_complete_value: 30
        events_when_complete: superspinner_start
    superdrop_activate:
        count_events: drops_hit
        starting_count: 0
        count_complete_value: 8
        events_when_complete: superdrop_start
    superramp_activate:
        count_events: left_ramp_hit
        starting_count: 0
        count_complete_value: 8
        events_when_complete: superramp_start    
    supersling_activate:
        count_events: player_slings
        starting_count: 0
        count_complete_value: 20
        events_when_complete: supersling_start            
    superduper_activate:
        count_events: superspinner_start, superdrop_start, superramp_start, supersling_start
        starting_count: 0
        count_complete_value: 4
        events_when_complete: superduper_start               


sequence_shots:
    right_orbit:
        switch_sequence: s_r_spinner, s_l_spinner
        sequence_timeout: 2s
    left_ramp:
        switch_sequence: s_l_rampenter, s_l_rampexit
        sequence_timeout: 2s
    left_orbit:
        switch_sequence: s_l_spinner, s_r_spinner
        sequence_timeout: 2s
                  
          
shots:
    shot_l_outlane:
        switch: s_l_outlane
        show_tokens:
            led: led_l_outlane
        profile: profile_flash        
    shot_l_inlane:
        switch: s_l_inlane
        show_tokens:
            led: led_l_inlane
        profile: profile_flash       
    shot_l_sling:
        switch: s_l_sling
        profile: profile_l_sling
    shot_captive_left:
        switch: s_l_captive
    shot_l_spinner:
        switch: s_l_spinner
        show_tokens:
            led: led_l_spinner
        profile: profile_spinner
    shot_left_ramp_enter:
        switch: s_l_rampenter
    shot_left_ramp_exit:
        switch: s_l_rampexit
    shot_r_spinner:
        switch: s_r_spinner
        show_tokens:
            led: led_r_spinner
        profile: profile_spinner
    shot_r_outlane:
        switch: s_r_outlane
        show_tokens:
            led: led_r_outlane
        profile: profile_flash
    shot_r_inlane:
        switch: s_r_inlane
        show_tokens:
            led: led_r_inlane
        profile: profile_flash
    shot_r_sling:
        switch: s_r_sling
        profile: profile_slingbuildup
    shot_drop1:
        switch: s_drop1
        show_tokens:
            led: led_drop1
        profile: profile_spinner
    shot_drop2:
        switch: s_drop2
        show_tokens:
            led: led_drop2
        profile: profile_insert
    shot_drop3:
        switch: s_drop3
        show_tokens:
            led: led_drop3
        profile: profile_insert
    shot_drop4:
        switch: s_drop4
        show_tokens:
            led: led_drop4
        profile: profile_insert
    shot_centercaptive:
        switch: s_centercaptive
        profile: profile_insert
    shot_ring:
        switch: s_r_ring1, s_r_ring2, s_r_ring3
        show_tokens:
            led: led_upperring
        profile: profile_ring

shows:
   flash_red:
      - time: 0
        lights:
          (led): red
      - time: +1
        lights:
          (led): off
      - time: +1
   flash_red_save:
      - time: 0
        lights:
          led_betweenflips: red
      - time: +1
        lights:
          led_betweenflips: off
      - time: +1
   flash_red_save_off:
      - time: 0
        lights:
          led_betweenflips: off
   flash_rainbow:
      - time: 0
        lights:
          (led): red
      - time: +1
        lights:
          (led): orange
      - time: +1 
        lights:
          (led): yellow
      - time: +1
        lights:
          (led): green
      - time: +1
   sling_r_buildup_01:
      - time: 0
        lights:
          led_r_sling_low: red
      - time: +1
        lights:
          led_r_sling_low: orange
      - time: +1 
        lights:
          led_r_sling_low: yellow
      - time: +1
   sling_r_buildup_02:
      - time: 0
        lights:
          led_r_sling_low, led_r_sling_lowmid: red
      - time: +1
        lights:
          led_r_sling_low, led_r_sling_lowmid: orange
      - time: +1 
        lights:
          led_r_sling_low, led_r_sling_lowmid: yellow
      - time: +1
   sling_r_buildup_03:
      - time: 0
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid: red
      - time: +1
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid: blue
      - time: +1 
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid: purple
      - time: +1
   sling_r_buildup_04:
      - time: 0
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid, led_r_sling_topmid: red
      - time: +1
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid, led_r_sling_topmid: blue
      - time: +1 
        lights:
          led_r_sling_low, led_r_sling_lowmid, led_r_sling_mid, led_r_sling_topmid: pink
      - time: +1         
   sling_r_buildup_05:
      - time: 0
        lights:
          led_r_sling: purple
      - time: +1
        lights:
          led_r_sling: cyan
      - time: +1 
        lights:
          led_r_sling: blue
      - time: +1           
        
shot_profiles:
    profile_slingbuildup:
        states:
            - name: unlit
              show: off
              priority: 500
            - name: slingstep1
              show: sling_r_buildup_01
              speed: 1
              priority: 500
            - name: slingstep2
              show: sling_r_buildup_02
              speed: 2
              priority: 500
            - name: slingstep3
              show: sling_r_buildup_03
              speed: 3
              priority: 500
            - name: slingstep4
              show: sling_r_buildup_04
              speed: 4
              priority: 500
            - name: slingstep5
              show: sling_r_buildup_05
              speed: 6
              priority: 500
        loop: yes
    profile_flash:
        states:
            - name: unlit
              priority: 500
            - name: flash
              show: flash_rainbow
              speed: 4
              priority: 500
            - name: lit
              show: on
              priority: 500          
    profile_spinner:
        states:
            - name: unlit
              priority: 500
            - name: lit
              show: on
              priority: 500
        loop: yes    
    profile_insert:
        states:
            - name: unlit  
              priority: 500
            - name: lit  
              show: on
              priority: 500
        loop: yes

    profile_l_sling:
        states:
            - name: unlit
              show: off
            - name: hit
              show: RightSlingHit_Inner_01
              priority: 500
              loops: 0
        loop: true  
    profile_ring:
        states:
            - name: unlit
              show: off
              priority: 500
            - name: hit
              show: on
              priority: 500
        loop: true          

shot_groups:
    outlanes:
        shots: shot_l_outlane, shot_l_inlane, shot_r_inlane, shot_r_outlane
        rotate_left_events: s_flipper_left_active
        rotate_right_events: s_flipper_right_active
        reset_events: outlanes_lit_complete
        enable_events: mode_base_started
        disable_events: bonus_start
    drops:
        shots: shot_drop1, shot_drop2, shot_drop3, shot_drop4
        reset_events: drops_lit_complete
        enable_events: mode_base_started
        disable_events: bonus_start         
        
variable_player:
    shot_l_outlane_hit:
        lanes: 1
        score: 100
    shot_l_inlane_hit:
        lanes: 1
        score: 300
    shot_l_sling_hit:
        slings: 1
        score: 500
    shot_captive_left_hit:
        captives: 1
        score: 1000
    shot_l_spinner_hit:
        score: 50
        spinners: 1
    left_ramp_hit:
        score: 10000
        ramps: 1
    mode_base_started:
        modebasescore: 1
        score: 0
    outlanes_complete:
        score: 25500
    s_l_low_active:
        score: 1
    s_l_rampenter_active:
       score: 10000
    s_l_rampexit_active:
       score: 1111
    shot_r_sling_hit:
        slings: 1
    drops_hit:
        drops: 1
    shot_r_spinner_profile_spinner_hit:
        score: 25
        spinners: 1
    shot_l_orbit_default_hit:
        score: 3000
        orbits: 1
    shot_r_orbit_default_hit:
        score: 5000
        orbits: 1
    shot_picard_default_hit:
        score: 66666
    shot_leftRamp_default_hit:
        score: 3000
        ramps: 1
    shot_r_ramp_default_hit:
        score: 5000
        ramps: 1
    shot_centercaptive_profile_insert_unlit_hit:
        score: 5000
        captives: 1
    player_add_success:
        score: 0
    shot_r_inlane_profile_insert_unlit_hit:
        score: 100
    shot_r_inlane_profile_insert_lit_hit:
        score: 1000
    shot_l_inlane_profile_insert_unlit_hit:
        score: 100
    shot_l_inlane_profile_insert_lit_hit:
        score: 1000
    shot_r_outlane_profile_insert_unlit_hit:
        score: 100
    shot_r_outlane_profile_insert_lit_hit:
        score: 1000
    shot_l_outlane_profile_insert_unlit_hit:
        score: 100
    shot_l_outlane_profile_insert_lit_hit:
        score: 1000

ball_saves:
  intro:
    active_time: 30s
    hurry_up_time: 1s
    grace_period: 1s
    enable_events: mode_base_started
    timer_start_events: balldevice_bd_plunger_ball_eject_success
    auto_launch: yes
    balls_to_save: 1
    debug: yes
  quick2ballmulti:
    active_time: 5s
    hurry_up_time: 1s
    grace_period: 1s
    enable_events: multiball_lock_theshop_full
    timer_start_events: balldevice_bd_plunger_ball_eject_success
    auto_launch: yes
    balls_to_save: 1
    debug: yes